body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #3498db;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    transition: background-color 0.3s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.brand a {
    color: #e74c3c;
    text-decoration: none;
    font-size: 1.2em;
}

.nav-links {
    list-style: none;
    display: flex;
}


.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #2c3e50;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3498db;
}

.dropdown-content li {
    margin: 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.toggle-button {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 3px 0;
    transition: background-color 0.3s ease;
}

.toggle-button.active .bar:nth-child(2) {
    opacity: 0;
}

.toggle-button.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.toggle-button.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #3498db;
        padding: 10px 0;
    }

    .nav-links li {
        text-align: center;
        margin: 10px 0;
    }

    .toggle-button {
        display: flex;
    }

    .navbar.fixed {
        background-color: #2980b9;
    }

    .navbar.fixed .nav-links {
        top: 40px;
    }
}